<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Sarthak Jain">
    <meta name="description" content="website for creating a short summary for given text">  
    <meta name="keywords" content="summary, text, summarizer">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title> Text Summarizer </title>
    <link rel="stylesheet" href="../static/CSS/css-home.css">
    <link rel="stylesheet" href="../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet" type="text/css">
    <!-- add a favicon icon later -->
    <script>
        var result = {{ result }};
        var input = {{ input }};
    </script>
</head>
<body>
    <header>
        <h1>Text Summarizer</h1>
    </header>
    <div class="flex-container">
        <div class = input>
            <form method="POST">
                <label for="input text">Input:</label>
                <br>
                <textarea type="text" id="input" name="input_text" 
                placeholder="enter your text here" rows="12" cols="64"> {{input}} </textarea>
                <br>
                <input type="submit" class="button" value="Get Summary"> 
            </form>
        </div>
        <div class="output">
                <label for="output text">Summary:</label>
                <br>
                <textarea type="text" id="output" name="output_text" rows="12" cols="64" readonly> {{result}} </textarea>
        </div>
    </div>
</body>
</html>
